<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="/plugins/layui/css/layui.css" rel="stylesheet" />
    <link href="/css/commonCss.css" rel="stylesheet" />
</head>
<body>
 <a href="##">我是首页</a>
 <a href="##">导航页一</a>
 <a href="##">导航页二</a>
 <a href="##">导航页三</a>
 <a href="##">创建一个分支</a>
 <a href="##" id="aop">AOP</a>
 <button href="##" id="excel">导出excel</button>
 <a href="http://localhost:9000/swagger-ui.html">跳转至swagger页面</a>
 <div>
     <a href="##" id="logout">退出登录</a>
 </div>
</body>
<script src="/plugins/jquery/jquery-3.4.1.js"></script>
<script src="/plugins/layui/layui.js"></script>
<script src="/index/index.js"></script>
<script>
    layui.use(['layer'],function () {
        var layer = layui.layer;  //layer初始化
    })
</script>

<script>
    layui.config({
        base: 'layui_exts/',
    }).extend({
        excel: 'excel',
    });
</script>

</html>