<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="/plugins/layui/css/layui.css" rel="stylesheet" />
    <link href="/css/commonCss.css" rel="stylesheet" />
</head>
<body>
 <a href="##">我是首页</a>
 <a href="##">导航页一</a>
 <a href="##">导航页二，啊哈哈语言</a>
 <a href="##">导航页三</a>
 <div>
     <a href="##" id="logout">退出登录</a>
 </div>
</body>
<script src="/plugins/jquery/jquery-3.4.1.js"></script>
<script src="/plugins/layui/layui.js"></script>
<script src="/index/index.js"></script>
<script>
    layui.use(['layer'],function () {
        var layer = layui.layer;  //layer初始化
    })
</script>
</html>